@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the web</h1>
    <h2>Vusikaya</h2>
    <body>Every thing here is about Vusikaya
        <p>Vusikaya was born in Port Elizabeth and is a born free.</p>
        <p>Monday is another day for to make things happen you just have to know it.</p>
        <p>Check the <a href="https://manage.wix.com/dashboard/b715043b-7fbe-4ebd-be98-8de6c701282d/home">web about Vusi</a>.</p>
    </body>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
